# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Node / React
node_modules/
build/
dist/

# Logs and OS files
*.log
.DS_Store
Thumbs.db

# IDE
.vscode/

# Local environment files
.env
.env.*
